<mat-toolbar>
    <span>GET CUSTOMER BY NAME</span>
  </mat-toolbar>
  <mat-card class="my-card">
     <mat-card-content>
        <form class="my-form">
           <mat-form-field class="full-width">
              <mat-label>Enter Customer Name</mat-label>
              <input  matInput  placeholder="Customer Name" name="customer.customerName"  [(ngModel)] = "customer.customerName" required>
              <mat-error>Customer name should not be empty</mat-error>
           </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
       <button mat-raised-button (click)="getCustomerByName()" color="primary">SEARCH CUSTOMER</button>
    </mat-card-actions>
 </mat-card> 














<!--<div class="container" *ngIf="flag">
    
  
    <div class="mb-5" *ngIf="flag">
        <label for="id" class="form-label">Enter Customer Name :</label>
        <input id = "id" type="text" class="form-control" [(ngModel)]="customer.customerName" required>
    </div>
    <button *ngIf="flag" type="button" class="btn btn-primary" style="background:red" (click)="getCustomerByName()">Search
    Customers</button>
 
  </div> -->

  <h3 class="nav justify-content-center" *ngIf="!flag">No such Customer Exists In Database.</h3>


<div class="container-fluid">
    <div class="card" *ngFor="let customer of customers">
        <div class="card-body" >
            <h5 class="card-text">Customer Name: {{customer.customerName | uppercase}}</h5>
            <p class="card-title">Customer ID: {{customer.customerId}}</p>
            <p class="card-text">Customer EmailId: {{customer.customerEmailId}}</p><br>
        </div>
    </div>
</div>

