<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
     <span><a href="/" class="login" title="Login"><img src="/assets/Images/logo1.png" /></a></span>
     <span class="spacer"></span>
     <a mat-button routerLink="/register">Register</a>
     <a mat-button routerLink="/login">Customer Login</a>
     <a mat-button routerLink="/employeeLogin">Employee Login</a>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <div>
  <img src="https://images7.alphacoders.com/317/thumb-1920-317196.jpg" alt="image">
</div> -->



<router-outlet></router-outlet>