<mat-toolbar color="primary">
    <mat-toolbar-row>
      <!--  <span>HOME</span> -->
      <button mat-button [matMenuTriggerFor]="Buses">Manage Buses</button>
      <mat-menu #Buses="matMenu">
         <a mat-button routerLink="/login/customerdashbord/searchbyid">Search by id</a><br>
         <a mat-button routerLink="/login/customerdashbord/searchbyname">Search by name</a><br>
         <a mat-button routerLink="/login/customerdashbord/searchbysource">search by source</a><br>
         <a mat-button routerLink="/login/customerdashbord/searchbytype">search by type</a><br>
         
      </mat-menu>
       
      <span class="spacer"></span>
       <span><a href="/home" class="a-tag">Log out</a></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card class="my-card">
     <mat-card-content>
        <form class="my-form">
           <mat-form-field class="full-width">
              <mat-label>Source</mat-label>
              <input  matInput  placeholder="Source"  name="bus.busSource" type="text" required>
              <mat-error>This field is required</mat-error>
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Destination</mat-label>
              <input  matInput  placeholder="Destination" name="Bus.busDestination" type="text"  required>
              <mat-error>This field is required</mat-error>
           </mat-form-field>
           <mat-form-field>
            <mat-label>Date of Journey</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
        </form>
     </mat-card-content>
     <mat-card-actions>
        <button mat-raised-button (click)="checkBus()" color="primary">Search</button>
     </mat-card-actions>
  </mat-card>   
  <router-outlet></router-outlet>