<!--<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>Manage Buses</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav class="example-sidenav" >
      <mat-nav-list>
        <a mat-button routerLink="/employeeLogin/employeedashbord/addbus">Add Bus</a><br>
        <a mat-button routerLink="/employeeLogin/employeedashbord/deletebus">Delete Bus</a><br>
        <a mat-button routerLink="/employeeLogin/employeedashbord/getbusbyid">Display Bus By Bus Id</a><br>
        <a mat-button routerLink="/employeeLogin/employeedashbord/getbusbyname">Display Bus by Bus Name</a><br>
        <a mat-button routerLink="/employeeLogin/employeedashbord/updatebus">Update Bus</a><br>
        <a mat-button routerLink="/employeeLogin/employeedashbord/viewallbuses">Display All Buses</a><br>
        <a mat-button routerLink="/employeeLogin/employeedashbord/getbusbysource">Display Bus by Bus Source</a><br>
        <a mat-button routerLink="/employeeLogin/employeedashbord/getbusbytype">Display Bus by Bus Type</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container> -->

  <mat-toolbar color="primary">
        
    <button mat-button [matMenuTriggerFor]="Buses" class="b-color">Manage Buses</button>
    <mat-menu #Buses="matMenu">
    <a mat-button routerLink="/employeeLogin/employeedashbord/addbus">Add Bus</a><br>
    <a mat-button routerLink="/employeeLogin/employeedashbord/deletebus">Delete Bus</a><br>
    <a mat-button routerLink="/employeeLogin/employeedashbord/getbusbyid">Display Bus By Bus Id</a><br>
    <a mat-button routerLink="/employeeLogin/employeedashbord/getbusbyname">Display Bus by Bus Name</a><br>
    <a mat-button routerLink="/employeeLogin/employeedashbord/updatebus">Update Bus</a><br>
    <a mat-button routerLink="/employeeLogin/employeedashbord/viewallbuses">Display All Buses</a><br>
    <a mat-button routerLink="/employeeLogin/employeedashbord/getbusbysource">Display Bus by Bus Source</a><br>
    <a mat-button routerLink="/employeeLogin/employeedashbord/getbusbytype">Display Bus by Bus Type</a>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="menu" class="b-color">Manage Customer</button>
    <mat-menu #menu="matMenu" >
    <a mat-button routerLink="/employeeLogin/employeedashbord/allcustomers">Display all the customers</a><br>
    <a mat-button routerLink="/employeeLogin/employeedashbord/getcustomerbyid">Display Customer by Id</a><br>
    <a mat-button routerLink="/employeeLogin/employeedashbord/getcustomerbyname">Display Customer by name</a><br>
    </mat-menu>
    <span class="spacer"></span>
    <span><a href="/home" class="a-tag">Log out</a></span>
   
  </mat-toolbar>
  <router-outlet></router-outlet>