<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>SimpleCRM</h1>
      
    </mat-toolbar-row>
  
    
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
      <mat-nav-list>
  
        <a mat-button routerLink="/register">Register</a>
     <a mat-button routerLink="/login">Customer Login</a>
        
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
  
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  