<mat-toolbar>
    <span>GET BUS BY NAME</span>
  </mat-toolbar>
  <mat-card class="my-card">
     <mat-card-content>
        <form class="my-form">
           <mat-form-field class="full-width">
              <mat-label>Enter Bus name to be display</mat-label>
              <input  matInput  placeholder="Bus Name" name="Bus.busName"  [(ngModel)] = "bus.busName" required>
              <mat-error>Name should not be empty</mat-error>
           </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
       <button mat-raised-button (click)="getBusByName()" color="primary">SEARCH BUS</button>
    </mat-card-actions>
 </mat-card> 










<!--<div class="container" *ngIf="flag">
    
  
    <div class="mb-5" *ngIf="flag">
        <label for="id" class="form-label">Enter Bus Name :</label>
        <input id = "id" type="text" class="form-control" [(ngModel)]="bus.busName" required>
    </div>
    <button *ngIf="flag" type="button" class="btn btn-primary" style="background:red" (click)="getBusByName()">Search
    Buses</button>
 
  </div> -->

  <h3 class="nav justify-content-center" *ngIf="!flag">No Bus Exists In Database.</h3>


<div class="container-fluid">
    <div class="card" *ngFor="let bus of buses">
        <div class="card-body" >
        <h5 class="card-text">Bus Name: {{bus.busName | uppercase}}</h5>
            <p class="card-title">Bus ID: {{bus.busId}}</p>
            <p class="card-text">Bus Source: {{bus.busSource}}</p>
            <p class="card-text">Bus Destination: {{bus.busDestination}}</p>
            <p class="card-text">Bus OnBoard Date: {{bus.busOnBoardDate}}</p>
            <p class="card-text">Bus Arrival Date: {{bus.busArrivalDate}}</p>
            <p class="card-text">Bus Type: {{bus.busType}}</p>
            <p class="card-text">Bus Price: {{bus.busPrice}}</p>
            <p class="card-text">Bus Status: {{bus.busStatus}}</p>
            <p class="card-text">Bus Rating: {{bus.busRating}}</p><br>
        </div>
    </div>
</div>
